# Configuración de Base de Datos (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/refrielectricos_db?schema=public"

# Configuración del Servidor
PORT=4000
JWT_SECRET="tu_secreto_jwt_super_seguro"

# Configuración de Cloudinary (Para subida de imágenes)
CLOUDINARY_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"
